In [30]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
pd.options.mode.chained_assignment = None
from sklearn.externals import joblib
import matplotlib.pyplot as plt

In [31]:
# Read the file titanic_test.csv, into a variable called data
data = pd.read_csv("titanic_test.csv")
data.head()
print(len(data))

394

In [32]:
# Extract class and sex
data2 = data[["pclass", "sex"]]
data2.head()

  pclass     sex
0    3rd    male
1    1st  female
2    1st    male
3    3rd  female
4    2nd    male

In [33]:
# Replace class with humber
data2["pclass"].replace("3rd", 3, inplace = True)
data2["pclass"].replace("2nd", 2, inplace = True)
data2["pclass"].replace("1st", 1, inplace = True)
data2.head()

   pclass     sex
0       3    male
1       1  female
2       1    male
3       3  female
4       2    male

In [34]:
# Replace sex with number
data2["sex"] = np.where(data2["sex"] == "female", 0, 1)
data2.head()

   pclass  sex
0       3    1
1       1    0
2       1    1
3       3    0
4       2    1

In [35]:
rf = joblib.load("titanic_model2")

In [36]:
pred = rf.predict(data2)# ADD YOUR DATA VARIABLE HERE)

In [44]:
pred

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0], dtype=int64)

In [61]:
def find_err(pred):
    titanic_data = np.loadtxt("titanic_results.txt", dtype="int32")
    #membandingkan isi array dengan file txt
    diff_arr = np.equal(titanic_data, pred)
    correct_answers = np.sum(diff_arr)
    percent_diff = float(float(correct_answers) / float(len(pred))) * 100
    print'Titanic Percentage Match is : ',percent_diff ,'%'

find_err(pred)

Titanic Percentage Match is :  82.7411167513 %