In [35]:
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
#matikan warning pandas
pd.options.mode.chained_assignment = None
from sklearn.cross_validation import train_test_split
# from sklearn.externals import joblib
import matplotlib.pyplot as plt

In [36]:
data = pd.read_csv("titanic_train.csv")
data.head()

,Unnamed: 0,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,998,999,3rd,1,"McCarthy, Miss Katie",NaN,NaN,NaN,NaN,NaN,NaN,female
1,179,180,1st,0,"Millet, Mr Francis Davis",65.0,Southampton,"East Bridgewater, MA",NaN,NaN,(249),male
2,556,557,2nd,0,"Sjostedt, Mr Ernst Adolf",59.0,Southampton,"Sault St Marie, ON",NaN,NaN,NaN,male
3,174,175,1st,0,"McCaffry, Mr Thomas Francis",46.0,Cherbourg,"Vancouver, BC",NaN,NaN,(292),male
4,1232,1233,3rd,0,"Strilic, Mr Ivan",NaN,NaN,NaN,NaN,NaN,NaN,male

In [38]:
median_age = data['age'].median()
print("Median age is {}".format(median_age))

Median age is 29.0

In [39]:
data['age'].fillna(median_age, inplace = True)
data['age'].head()

0    29.0
1    65.0
2    59.0
3    46.0
4    29.0
Name: age, dtype: float64

In [40]:
data_inputs = data[["pclass","age", "sex"]]
data_inputs.head()

  pclass   age     sex
0    3rd  29.0  female
1    1st  65.0    male
2    2nd  59.0    male
3    1st  46.0    male
4    3rd  29.0    male

In [41]:
expected_output = data[["survived"]]
expected_output.head()

   survived
0         1
1         0
2         0
3         0
4         0

In [42]:
data_inputs["pclass"].replace("3rd", 3, inplace = True)
data_inputs["pclass"].replace("2nd", 2, inplace = True)
data_inputs["pclass"].replace("1st", 1, inplace = True)
data_inputs.head()

   pclass   age     sex
0       3  29.0  female
1       1  65.0    male
2       2  59.0    male
3       1  46.0    male
4       3  29.0    male

In [43]:
data_inputs["sex"] = np.where(data_inputs["sex"] == "female", 0, 1)
data_inputs.head()

   pclass   age  sex
0       3  29.0    0
1       1  65.0    1
2       2  59.0    1
3       1  46.0    1
4       3  29.0    1

In [44]:
inputs_train, inputs_test, expected_output_train, expected_output_test   = train_test_split (data_inputs, expected_output, test_size = 0.33, random_state = 42)

print(inputs_train.head())
print(expected_output_train.head())

     pclass   age  sex
618       3  19.0    1
169       3  29.0    1
830       1  54.0    1
140       3  29.0    1
173       2  28.0    1
     survived
618         0
169         0
830         1
140         0
173         0

In [45]:
# rf = RandomForestClassifier (n_estimators=80)

In [11]:
# rf.fit(inputs_train, expected_output_train.values.ravel())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [12]:
# accuracy = rf.score(inputs_test, expected_output_test)
# print("Accuracy = {}%".format(accuracy * 100))

Accuracy = 79.9342105263%

In [54]:
# joblib.dump(rf, "titanic_model", compress=9)

['titanic_model']

In [62]:
# Create the random forest instance, and train it with training data ( 50 - 100 trees)
# gini
array = []
for i in range (5,11):
    rf = RandomForestClassifier (n_estimators=i*10, criterion='gini')
    
    rf.fit(inputs_train, expected_output_train.values.ravel())
    
    accuracy = rf.score(inputs_test, expected_output_test)*100

    array.append(accuracy)
    
array

[79.276315789473685,
 79.93421052631578,
 79.276315789473685,
 78.618421052631575,
 79.60526315789474,
 79.93421052631578]

In [63]:
# Create the random forest instance, and train it with training data
# entropy (information gain)
arrayentropy = []
for i in range (5,11):
    rf = RandomForestClassifier (n_estimators=i*10, criterion='entropy')
    
    rf.fit(inputs_train, expected_output_train.values.ravel())

    accuracy = rf.score(inputs_test, expected_output_test)*100

    arrayentropy.append(accuracy)
    
arrayentropy

[78.94736842105263,
 78.94736842105263,
 78.94736842105263,
 77.960526315789465,
 77.960526315789465,
 79.276315789473685]

In [61]:
plt.plot([50,60,70,80,90,100],array)
plt.title('Perbandingan Jumlah Pohon dengan Akurasi')
plt.ylabel('Akurasi(%)')
plt.xlabel('Jumlah Pohon')
plt.show()

In [64]:
plt.plot([50,60,70,80,90,100],array)
plt.plot([50,60,70,80,90,100],arrayentropy)
plt.title('Perbandingan Jumlah Pohon dengan Akurasi')
plt.ylabel('Akurasi(%)')
plt.xlabel('Jumlah Pohon')
plt.show()

In [47]:
data_inputs2 = data[["pclass", "sex"]]
data_inputs2.head()

  pclass     sex
0    3rd  female
1    1st    male
2    2nd    male
3    1st    male
4    3rd    male

In [48]:
expected_output2 = data[["survived"]]
expected_output2.head()

   survived
0         1
1         0
2         0
3         0
4         0

In [49]:
data_inputs2["pclass"].replace("3rd", 3, inplace = True)
data_inputs2["pclass"].replace("2nd", 2, inplace = True)
data_inputs2["pclass"].replace("1st", 1, inplace = True)
data_inputs2.head()

   pclass     sex
0       3  female
1       1    male
2       2    male
3       1    male
4       3    male

In [50]:
data_inputs2["sex"] = np.where(data_inputs2["sex"] == "female", 0, 1)
data_inputs2.head()

   pclass  sex
0       3    0
1       1    1
2       2    1
3       1    1
4       3    1

In [51]:
inputs_train2, inputs_test2, expected_output_train2, expected_output_test2   = train_test_split (data_inputs2, expected_output2, test_size = 0.33, random_state = 42)

print(inputs_train2.head())
print(expected_output_train2.head())

     pclass  sex
618       3    1
169       3    1
830       1    1
140       3    1
173       2    1
     survived
618         0
169         0
830         1
140         0
173         0

In [52]:
array2 = []
for i in range (5,11):
    rf = RandomForestClassifier (n_estimators=i*10)
    
    rf.fit(inputs_train2, expected_output_train2.values.ravel())

    accuracy = rf.score(inputs_test2, expected_output_test2)*100

    array2.append(accuracy)
    
array2

[80.26315789473685,
 80.26315789473685,
 80.26315789473685,
 80.26315789473685,
 80.26315789473685,
 80.26315789473685]

In [71]:
plt.plot([50,60,70,80,90,100],array2)
plt.title('Perbandingan Jumlah Pohon dengan Akurasi')
plt.ylabel('Akurasi(%)')
plt.xlabel('Jumlah Pohon')
plt.show()

In [1]:
plt.plot([50,60,70,80,90,100],array)
plt.plot([50,60,70,80,90,100],array2)
plt.title('Perbandingan Jumlah Pohon dengan Akurasi')
plt.ylabel('Akurasi(%)')
plt.xlabel('Jumlah Pohon')
plt.show()

NameError: name 'plt' is not defined