In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
pd.options.mode.chained_assignment = None
from sklearn.externals import joblib

In [2]:
data = pd.read_csv("titanic_train.csv")
data.head()

,Unnamed: 0,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,998,999,3rd,1,"McCarthy, Miss Katie",NaN,NaN,NaN,NaN,NaN,NaN,female
1,179,180,1st,0,"Millet, Mr Francis Davis",65.0,Southampton,"East Bridgewater, MA",NaN,NaN,(249),male
2,556,557,2nd,0,"Sjostedt, Mr Ernst Adolf",59.0,Southampton,"Sault St Marie, ON",NaN,NaN,NaN,male
3,174,175,1st,0,"McCaffry, Mr Thomas Francis",46.0,Cherbourg,"Vancouver, BC",NaN,NaN,(292),male
4,1232,1233,3rd,0,"Strilic, Mr Ivan",NaN,NaN,NaN,NaN,NaN,NaN,male

For this example, we are only extracting 2 things: Class and sex. 

Do that below

In [3]:
# Extract the pclass and sex into a new Dataframe
data_inputs = data[["pclass", "sex"]]
data_inputs.head()

  pclass     sex
0    3rd  female
1    1st    male
2    2nd    male
3    1st    male
4    3rd    male

In [4]:
# Convert pclass to pure numbers
data_inputs["pclass"].replace("3rd", 3, inplace = True)
data_inputs["pclass"].replace("2nd", 2, inplace = True)
data_inputs["pclass"].replace("1st", 1, inplace = True)
data_inputs.head()

   pclass     sex
0       3  female
1       1    male
2       2    male
3       1    male
4       3    male

In [5]:
# Replace the sex with 0 for female, 1 for male
data_inputs["sex"] = np.where(data_inputs["sex"] == "female", 0, 1)
data_inputs.head()

   pclass  sex
0       3    0
1       1    1
2       2    1
3       1    1
4       3    1

In [6]:
# Create the expected result dataframe.
expected_output = data[["survived"]]
expected_output.head()

   survived
0         1
1         0
2         0
3         0
4         0

In [7]:
# Create test/train split
inputs_train, inputs_test, expected_output_train, expected_output_test = train_test_split (data_inputs, expected_output, test_size = 0.33, random_state = 42)

print(inputs_train.head())
print(expected_output_train.head())

     pclass  sex
618       3    1
169       3    1
830       1    1
140       3    1
173       2    1
     survived
618         0
169         0
830         1
140         0
173         0

In [12]:
# Create the random forest instance, and train it with training data
rf = RandomForestClassifier (n_estimators=100)
rf.fit(inputs_train, expected_output_train.values.ravel())
# rf.fit(inputs_train, expected_output_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=90, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [13]:
# Get the accuracy of your model
accuracy = rf.score(inputs_test, expected_output_test)
print("Accuracy = {}%".format(accuracy * 100))

Accuracy = 80.2631578947%

In [13]:
# Write the model to a file called "titanic_model2"
joblib.dump(rf, "titanic_model2", compress=9)

['titanic_model2']